.custompadding{
    padding:60px;
}
body{
    overflow-x: hidden;
}
nav{
    z-index: 1;
    background: black !important;
}
.toppadding{
    padding:0px 15px;
}
.logo-default{
    display: none;
}
ul li a{
    font-size: 14px !important;
    color: white !important;
    padding:20px 15px !important;
    font-family: "Source Sans Pro", sans-serif;

 
}
ul li a:hover{
    color:#007bff !important;
}
.active{
    color:#007bff !important;

}
.icon{
    /* color:red; */
    font-size: 20px !important;
}
.custom{
    font-size: 30px !important;
}
.text{
    border:1px solid rgba(0, 0, 0, 0.171);
}
@media screen and (min-width:320px) and (max-width:1000px){
nav{
        background-color: white !important;
    }
    .logo-white{
        display: none;
    }
    .logo-default{
        display: block;
    }
    ul li a{
        padding: 10px 0px !important;
        color:blue !important;
    }
    .custompadding{
        padding:0px;
    }
}


/* carousel */

.carousel-item{
    height:600px;
 
}
.carousel{
    position: relative;
}
.carouselicon{
    font-size: 30px;
    /* border: 1px solid red; */
    border-radius: 50% 50%;
    padding:10px 20px;
    background-color: #007bffa5;
}
.innerdiv{
    
    /* height:300px; */
    /* border:1px solid red; */
  
}
.con1{
    position: absolute;
    top:20%;
    left: 8%;
}
.craft{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
}
.lorem{
    font-weight: 400;
    line-height: 26px;
    color:#848484;
    margin-bottom: 5px;
}
.explore{
    text-decoration: none;
    border: 1px solid #28ABE3;
    padding:12px 40px;
    border-radius: 20px;
    font-size: 14px;
    background-color: #28ABE3;
    font-weight: 400;

    
}
 
    
@media screen and (min-width:320px) and (max-width:1000px)
{
    .con1{
        left:0%;
    }
    .carousel-item{
        height:330px;
    }

    .carouselicon{
        display: none;
    }
    .craft{
        font-size: 40px;
    }
    .lorem{
        font-size: 15px;
    }

}

@media screen and (min-width:320px) and (max-width:480px)
{
    .carousel img{
        height:330px;

    }
    .craft{
        font-size: 30px;
    }
    .lorem{
        font-size: 12px;
    }
}


/* what do we offer */

.border{
    height:2px;
    width:80px;
   background-color:  #28ABE3;
   margin: 20px auto 20px;
}

.inner{
    /* border: 1px solid black; */
    height: 630px;
}
.widthcolumn{
    /* width:570px; */
}

.in{
    /* border: 1px solid; */
      height:340px;

}
.management{
    height: 100%;
    width:100%;
    /* border: 1px solid; */
    text-align: center;
}
.service{
    padding:50px 32px;
    border: 1px solid #eee;
   
    transition: all 0.3s;
    /* display: inline-block; */
}
.alarm{
    display: inline-block;
    font-size: 30px;
    background-color: #28ABE3;
    color: white;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.167);
    border-radius: 30px;
    height: 53px !important;    
    width: 55px !important;
    margin-bottom: 20px;                 
}
.management h4{
                
    
    font-family:"Catamaran", sans-serif ;
}
.management p{
    font-size: 16px;
    color:#848484;
}   

.service:hover{
    box-shadow: 0px 10px 75px 0px rgba(0, 0, 0, 0.167);
}
.service:hover .alarm{
    background-color: white;
  
}
.service:hover .alarm{
    color:#28ABE3;
  
}
@media screen and (min-width:320px) and (max-width:480px){
    .custompadding{
        padding:0px;
    }
}

/* Bingo agency */
.section3{
    background-color: #f7f7f7;
    padding: 100px 0px 50px 0px;

}


.we{
    font-size: 35px;
    margin-bottom: 8px;
}

.checklist{
    list-style-type: none;
    padding-left: 30px;
    margin-bottom: 30px;
}
.checklist li{
    color:#848484;
    margin-bottom: 14px;
}
.learn{
    margin-top: 20px;
    margin-left: 30px;
}
@media screen and (min-width:320px) and (max-width:480px){
    .section3{
        margin-top: 630px;
    } 
}

.sec4{
    background-image: url("../../Bingo/images/call-to-action-bg-2.jpg");
    height:390px;
    background-size: cover;
}
.contact{
    background-color: #28ABE3;
    padding:12px 40px;
    text-decoration: none;
    border-radius: 30px;
}
 .sec4 .container{  
    padding:100px 0px;
}
.sec4 .container .row{
    margin: 0px;
}
.counter{
    padding-bottom: 30px;
}
.countitem{
    font-size: 40px;
    color:#28ABE3;
    margin-bottom: 20px;

}
.counter h3{
    font-size: 18px;
    color:#666;
}
.counter::after{
    content: "";
    background-color: #420808;
    height:55px;
    width:1px;
    position: absolute;
    margin-top: -78px;
    margin-left: 117px;

}

@media screen and (min-width:320px) and (max-width:480px){
    .counter::after{
        display: none;
}
.custompadding{
    padding:0px;
}
}




/* new section */

.topbotpad{
    /* position: relative; */
    height:600px;
}
.back{
    background-color:#28ABE3;
    height:350px;
}
.comment{
    color:white;
    font-size: 60px;
    margin-bottom: 50px;
}
.para{
    align-items: center;
    padding:0 10%;
    font-weight: 600;
}
.downimage{
    background-color: #848484;
    position: absolute;
    
}
.lateback{
    background-color: #f6f6f6;
    padding:60px 0px;
}
.title h2{
    font-size: 35px;
    margin-bottom: 8px;
    font-family: "Catamaran", sans-serif;
}

.border{
    background-color:#f7efef;
    width:70px;
    height:3px;
    margin-bottom: 8px;
}
.lateba{
padding:0px 15px;

}
.content{
    margin: 10px;
}
.inlate{
    height: 540px;
    background-color: white;
}
.inlate a{
    font-size: 28px;
    text-decoration: none;
    color: #000000;
}
.content{
    padding:5px;
}
.anim{
    color:#757575;
    margin: 10px 0px;
}
.readmore{
    font-size: 12px !important;
    padding:10px 22px;
    border:1px solid;
    border-radius: 30px;
    color: white !important;
    background-color: #28ABE3;
    margin-bottom: 20px !important;
}
.carousel-inner{
    overflow: visible;
}
.carousel-item{
    position: relative;
}

.overimage{
    position:absolute;
    justify-content: center;
    left: 46%;
    top:45%;
}
.overimage img{
    height:150px;
    width:150px;
    border-radius: 50%;
   
}
/* @media screen and (min-width:320px) and (max-width:480px){
    .inlate{
        height:650px;
    }
} */


@media screen and (min-width:320px) and (max-width:480px){
    .topbotpad{
        height:500px;
    }
}

/* footer */

.footer{
    background-color: #222222;
    color:white;
}
.footer h3{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}
.integer{
    color:#bdbdbd;
}
.footer ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.footer ul li a{
    margin: 0px;
    text-decoration: none;
    color:#bdbdbd !important;
}
.copyright{
    background-color: #1b1b1b;
    padding:30px 0px;

}
.copyright h5{
    font-size: 12px;
    text-align: center;
    color:#888888;
    margin-top: 7px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.copyright h6{
    font-size: 12px;
    text-align: center;
    color:#888888;
    margin-top: 2px;
    letter-spacing: 2px;
    
   
}
@media screen and (min-width:320px) and (max-width:480px){
    .copyright h5{
        margin: 0px;
        padding: 0px;
    }
    .copyright h6{
        margin: 0px;
    }
    .copyright .row{
        width:317px;
    }
}

