/* .row{
    padding:60px;
} */
.custompadding {
    padding: 60px !important;
}

body {
    overflow-x: hidden;
}

nav {
    z-index: 1;

}

.toppadding {
    padding: 0px 15px;
}

.logo-default {
    display: none;
}

ul li a {
    font-size: 14px !important;
    color: white !important;
    padding: 20px 15px !important;
    font-family: "Source Sans Pro", sans-serif;


}

ul li a:hover {
    color: #007bff !important;
}

.active {
    color: #007bff !important;

}

.icon {
    /* color:red; */
    font-size: 20px !important;
}

.custom {
    font-size: 30px !important;
}

.text {
    border: 1px solid rgba(0, 0, 0, 0.171);
}

@media screen and (min-width:320px) and (max-width:1000px) {
    .navbar {
        background-color: white !important;
    }

    .logo-white {
        display: none;
    }

    .logo-default {
        display: block;
    }

    ul li a {
        padding: 10px 0px !important;
        color: blue !important;
    }
}


/* about us */

.head {
    background-image: url("../../Bingo/images/about-header.jpg");
    background-size: cover;
    /* padding:140px 0px; */
    height: 250px;
    position: relative;
    text-align: center;

}

.overlayback {
    background-color: rgba(0, 0, 0, 0.378);
    /* padding:140px 0px; */
    height: 250px;


}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.head ol {
    list-style-type: none;
}

.current::before {
    display: inline-block;
    content: "/";
    padding-right: 8px;
    color: #6c757d;

}

/* .col-lg-6{
    padding:0px 15px;
} */
.head h2 {
    color: #ffffff !important;
    font-size: 34px;
}

nav .breadcrumb li a {
    text-decoration: none;
    color: white;

}

@media screen and (min-width:320px) and (max-width:480px) {
    .custompadding {
        padding: 0px;
    }
}


/* work */
.contentdiv {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.contentdiv img {
    height: 100%;
    width: 100%;
}

.nav-pills {
    padding: 60px;
}

.nav-pills .nav-link {
    color: white !important;
    background-color: #28ABE3;
}

.nav-pills .nav-link.active {
    background-color: #28ABE3;
}

.nav-pills li {
    margin: 3px;
}

.search {
    height: 0px;
    width: 100%;
    background-color: #00000071;
    position: absolute;
    top: 0px;
    transition: all 0.3s;
    visibility: hidden;


}

.search i {
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: #28ABE3;
    border-radius: 70%;

}

.contentdiv:hover .search{
    visibility: visible;
    height:100%;
}
.contentdiv :hover .search{
    visibility: visible;
}

/* carousel */


.topbotpad {
    /* position: relative; */
    height: 600px;
}

.back {
    background-color: #28ABE3;
    height: 350px;
}

.comment {
    color: white;
    font-size: 60px;
    margin-bottom: 50px;
}

.para {
    align-items: center;
    padding: 0 10%;
    font-weight: 600;
}

.downimage {
    background-color: #848484;
    position: absolute;

}

.lateback {
    background-color: #f6f6f6;
    padding: 60px 0px;
}

.title h2 {
    font-size: 35px;
    margin-bottom: 8px;
    font-family: "Catamaran", sans-serif;
}

.border {
    background-color: #f7efef;
    width: 70px;
    height: 3px;
    margin-bottom: 8px;
}

.lateba {
    padding: 0px 15px;

}

.content {
    margin: 10px;
}

.inlate {
    height: 540px;
    background-color: white;
}

.inlate a {
    font-size: 28px;
    text-decoration: none;
    color: #000000;
}

.content {
    padding: 5px;
}

.anim {
    color: #757575;
    margin: 10px 0px;
}

.readmore {
    font-size: 12px !important;
    padding: 10px 22px;
    border: 1px solid;
    border-radius: 30px;
    color: white !important;
    background-color: #28ABE3;
    margin-bottom: 20px !important;
}

.carousel-item {
    position: relative;
}

.carousel-inner {
    overflow: visible;
}

.overimage {
    position: absolute;
    justify-content: center;
    left: 50%;
    top: 130%;
    transform: translateX(-47px);
}

.overimage img {
    height: 150px;
    width: 150px;
    border-radius: 50%;

}

/* @media screen and (min-width:320px) and (max-width:480px){
    .inlate{
        height:650px;
    }
} */


@media screen and (min-width:320px) and (max-width:480px) {
    .topbotpad {
        height: 500px;
    }
}

/* footer */


.footer {
    background-color: #222222;
    color: white;
}

.footer h3 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.integer {
    color: #bdbdbd;
}

.footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.footer ul li a {
    margin: 0px;
    text-decoration: none;
    color: #bdbdbd !important;
    padding: 0px !important;

}

.copyright {
    background-color: #1b1b1b;
    padding: 30px 0px;

}

.copyright h5 {
    font-size: 12px;
    text-align: center;
    color: #888888;
    margin-top: 7px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.copyright h6 {
    font-size: 12px;
    text-align: center;
    color: #888888;
    margin-top: 2px;
    letter-spacing: 2px;


}

@media screen and (min-width:320px) and (max-width:480px) {
    .copyright h5 {
        margin: 0px;
        padding: 0px;
    }

    .copyright h6 {
        margin: 0px;
    }

    .copyright .row {
        width: 317px;
    }
}



@media screen and (min-width:320px) and (max-width:480px) {
    .custompadding {
        padding: 0px;
    }
}